AnaEkran/Service References/ZindeServiceReference/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" />
  <xs:element name="Ekle__TBL_PERSONEL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q1:TBL_PERSONELDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_PERSONELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_PERSONELResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_PERSONEL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q2:TBL_PERSONELDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_PERSONELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_PERSONELResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_PERSONEL">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q3:TBL_PERSONELDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_PERSONELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_PERSONELResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_PERSONEL">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_PERSONELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_PERSONELResult" nillable="true" type="q4:ArrayOfTBL_PERSONELDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_PERSONEL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_PERSONELResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_PERSONELResult" nillable="true" type="q5:TBL_PERSONELDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q6:TBL_SIRKETDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SIRKETResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q7:TBL_SIRKETDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SIRKETResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q8:TBL_SIRKETDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SIRKETResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SIRKETResult" nillable="true" type="q9:ArrayOfTBL_SIRKETDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKETResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SIRKETResult" nillable="true" type="q10:TBL_SIRKETDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q11:TBL_SIRKET_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SIRKET_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q12:TBL_SIRKET_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SIRKET_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q13:TBL_SIRKET_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SIRKET_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_BAKIYE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SIRKET_BAKIYEResult" nillable="true" type="q14:ArrayOfTBL_SIRKET_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SIRKET_BAKIYEResult" nillable="true" type="q15:TBL_SIRKET_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_GRUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q16:TBL_SIRKET_GRUBDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_GRUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SIRKET_GRUBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_GRUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q17:TBL_SIRKET_GRUBDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_GRUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SIRKET_GRUBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_GRUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q18:TBL_SIRKET_GRUBDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_GRUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SIRKET_GRUBResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_GRUB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_GRUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SIRKET_GRUBResult" nillable="true" type="q19:ArrayOfTBL_SIRKET_GRUBDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_GRUB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_GRUBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SIRKET_GRUBResult" nillable="true" type="q20:TBL_SIRKET_GRUBDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_SINIF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q21:TBL_SIRKET_SINIFDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_SINIFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SIRKET_SINIFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_SINIF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q22:TBL_SIRKET_SINIFDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_SINIFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SIRKET_SINIFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_SINIF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q23:TBL_SIRKET_SINIFDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_SINIFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SIRKET_SINIFResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_SINIF">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_SINIFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SIRKET_SINIFResult" nillable="true" type="q24:ArrayOfTBL_SIRKET_SINIFDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_SINIF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_SINIFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SIRKET_SINIFResult" nillable="true" type="q25:TBL_SIRKET_SINIFDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q26:TBL_SIRKET_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SIRKET_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SIRKET_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q27:TBL_SIRKET_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SIRKET_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SIRKET_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q28:TBL_SIRKET_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SIRKET_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SIRKET_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_TIPI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SIRKET_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SIRKET_TIPIResult" nillable="true" type="q29:ArrayOfTBL_SIRKET_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SIRKET_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SIRKET_TIPIResult" nillable="true" type="q30:TBL_SIRKET_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q31:TBL_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SPARISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q32:TBL_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SPARISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q33:TBL_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SPARISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SPARIS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SPARISResult" nillable="true" type="q34:ArrayOfTBL_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SPARISResult" nillable="true" type="q35:TBL_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SPARIS_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q36:TBL_SPARIS_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_SPARIS_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_SPARIS_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SPARIS_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q37:TBL_SPARIS_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_SPARIS_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_SPARIS_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SPARIS_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q38:TBL_SPARIS_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_SPARIS_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_SPARIS_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SPARIS_TURU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_SPARIS_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_SPARIS_TURUResult" nillable="true" type="q39:ArrayOfTBL_SPARIS_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SPARIS_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_SPARIS_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_SPARIS_TURUResult" nillable="true" type="q40:TBL_SPARIS_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q41:TBL_URUNDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q42:TBL_URUNDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q43:TBL_URUNDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUNResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUNResult" nillable="true" type="q44:ArrayOfTBL_URUNDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUNResult" nillable="true" type="q45:TBL_URUNDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_BIRIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q46:TBL_URUN_BIRIMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_BIRIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_BIRIMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_BIRIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q47:TBL_URUN_BIRIMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_BIRIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_BIRIMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_BIRIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q48:TBL_URUN_BIRIMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_BIRIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_BIRIMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_BIRIM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_BIRIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_BIRIMResult" nillable="true" type="q49:ArrayOfTBL_URUN_BIRIMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_BIRIM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_BIRIMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_BIRIMResult" nillable="true" type="q50:TBL_URUN_BIRIMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_CINSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q51:TBL_URUN_CINSIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_CINSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_CINSIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_CINSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q52:TBL_URUN_CINSIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_CINSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_CINSIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_CINSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q53:TBL_URUN_CINSIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_CINSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_CINSIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_CINSI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_CINSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_CINSIResult" nillable="true" type="q54:ArrayOfTBL_URUN_CINSIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_CINSI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_CINSIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_CINSIResult" nillable="true" type="q55:TBL_URUN_CINSIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q56:TBL_URUN_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_FATURAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q57:TBL_URUN_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_FATURAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q58:TBL_URUN_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_FATURAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_FATURA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_FATURAResult" nillable="true" type="q59:ArrayOfTBL_URUN_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_FATURAResult" nillable="true" type="q60:TBL_URUN_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_MARKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q61:TBL_URUN_MARKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_MARKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_MARKAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_MARKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q62:TBL_URUN_MARKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_MARKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_MARKAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_MARKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q63:TBL_URUN_MARKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_MARKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_MARKAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_MARKA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_MARKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_MARKAResult" nillable="true" type="q64:ArrayOfTBL_URUN_MARKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_MARKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_MARKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_MARKAResult" nillable="true" type="q65:TBL_URUN_MARKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q66:TBL_URUN_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_SPARISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q67:TBL_URUN_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_SPARISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q68:TBL_URUN_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_SPARISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_SPARIS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_SPARISResult" nillable="true" type="q69:ArrayOfTBL_URUN_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_SPARIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_SPARISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_SPARISResult" nillable="true" type="q70:TBL_URUN_SPARISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_STOK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q71:TBL_URUN_STOKDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_STOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_STOKResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_STOK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q72:TBL_URUN_STOKDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_STOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_STOKResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_STOK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q73:TBL_URUN_STOKDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_STOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_STOKResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_STOK">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_STOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_STOKResult" nillable="true" type="q74:ArrayOfTBL_URUN_STOKDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_STOK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_STOKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_STOKResult" nillable="true" type="q75:TBL_URUN_STOKDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q76:TBL_URUN_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_URUN_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_URUN_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q77:TBL_URUN_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_URUN_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_URUN_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q78:TBL_URUN_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_URUN_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_URUN_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_TIPI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_URUN_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_URUN_TIPIResult" nillable="true" type="q79:ArrayOfTBL_URUN_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_URUN_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_URUN_TIPIResult" nillable="true" type="q80:TBL_URUN_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_BANKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q81:TBL_BANKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_BANKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_BANKAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_BANKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q82:TBL_BANKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_BANKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_BANKAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_BANKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q83:TBL_BANKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_BANKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_BANKAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_BANKA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_BANKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_BANKAResult" nillable="true" type="q84:ArrayOfTBL_BANKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_BANKA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_BANKAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_BANKAResult" nillable="true" type="q85:TBL_BANKADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_BANKA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q86:TBL_BANKA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_BANKA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_BANKA_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_BANKA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q87:TBL_BANKA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_BANKA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_BANKA_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_BANKA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q88:TBL_BANKA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_BANKA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_BANKA_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_BANKA_BAKIYE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_BANKA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_BANKA_BAKIYEResult" nillable="true" type="q89:ArrayOfTBL_BANKA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_BANKA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_BANKA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_BANKA_BAKIYEResult" nillable="true" type="q90:TBL_BANKA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_DEPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q91:TBL_DEPODTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_DEPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_DEPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_DEPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q92:TBL_DEPODTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_DEPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_DEPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_DEPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q93:TBL_DEPODTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_DEPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_DEPOResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_DEPO">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_DEPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_DEPOResult" nillable="true" type="q94:ArrayOfTBL_DEPODTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_DEPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_DEPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_DEPOResult" nillable="true" type="q95:TBL_DEPODTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_DEPO_ISLEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q96:TBL_DEPO_ISLEMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_DEPO_ISLEMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_DEPO_ISLEMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_DEPO_ISLEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q97:TBL_DEPO_ISLEMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_DEPO_ISLEMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_DEPO_ISLEMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_DEPO_ISLEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q98:TBL_DEPO_ISLEMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_DEPO_ISLEMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_DEPO_ISLEMResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_DEPO_ISLEM">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_DEPO_ISLEMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_DEPO_ISLEMResult" nillable="true" type="q99:ArrayOfTBL_DEPO_ISLEMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_DEPO_ISLEM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_DEPO_ISLEMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_DEPO_ISLEMResult" nillable="true" type="q100:TBL_DEPO_ISLEMDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_DEPO_TRANSFER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q101:TBL_DEPO_TRANSFERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_DEPO_TRANSFERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_DEPO_TRANSFERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_DEPO_TRANSFER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q102:TBL_DEPO_TRANSFERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_DEPO_TRANSFERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_DEPO_TRANSFERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_DEPO_TRANSFER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q103:TBL_DEPO_TRANSFERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_DEPO_TRANSFERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_DEPO_TRANSFERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_DEPO_TRANSFER">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_DEPO_TRANSFERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_DEPO_TRANSFERResult" nillable="true" type="q104:ArrayOfTBL_DEPO_TRANSFERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_DEPO_TRANSFER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_DEPO_TRANSFERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_DEPO_TRANSFERResult" nillable="true" type="q105:TBL_DEPO_TRANSFERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q106:TBL_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_FATURAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q107:TBL_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_FATURAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q108:TBL_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_FATURAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_FATURA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_FATURAResult" nillable="true" type="q109:ArrayOfTBL_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_FATURA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_FATURAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_FATURAResult" nillable="true" type="q110:TBL_FATURADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_FATURA_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q111:TBL_FATURA_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_FATURA_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_FATURA_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_FATURA_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q112:TBL_FATURA_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_FATURA_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_FATURA_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_FATURA_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q113:TBL_FATURA_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_FATURA_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_FATURA_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_FATURA_TURU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_FATURA_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_FATURA_TURUResult" nillable="true" type="q114:ArrayOfTBL_FATURA_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_FATURA_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_FATURA_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_FATURA_TURUResult" nillable="true" type="q115:TBL_FATURA_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_FIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q116:TBL_FISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_FISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_FISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_FIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q117:TBL_FISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_FISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_FISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_FIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q118:TBL_FISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_FISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_FISResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_FIS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_FISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_FISResult" nillable="true" type="q119:ArrayOfTBL_FISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_FIS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_FISResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_FISResult" nillable="true" type="q120:TBL_FISDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_GIDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q121:TBL_GIDERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_GIDERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_GIDERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_GIDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q122:TBL_GIDERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_GIDERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_GIDERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_GIDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q123:TBL_GIDERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_GIDERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_GIDERResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_GIDER">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_GIDERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_GIDERResult" nillable="true" type="q124:ArrayOfTBL_GIDERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_GIDER">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_GIDERResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_GIDERResult" nillable="true" type="q125:TBL_GIDERDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_GIDER_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q126:TBL_GIDER_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_GIDER_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_GIDER_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_GIDER_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q127:TBL_GIDER_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_GIDER_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_GIDER_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_GIDER_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q128:TBL_GIDER_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_GIDER_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_GIDER_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_GIDER_BAKIYE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_GIDER_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_GIDER_BAKIYEResult" nillable="true" type="q129:ArrayOfTBL_GIDER_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_GIDER_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_GIDER_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_GIDER_BAKIYEResult" nillable="true" type="q130:TBL_GIDER_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_KASA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q131:TBL_KASADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_KASAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_KASAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_KASA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q132:TBL_KASADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_KASAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_KASAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_KASA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q133:TBL_KASADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_KASAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_KASAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_KASA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_KASAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_KASAResult" nillable="true" type="q134:ArrayOfTBL_KASADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_KASA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_KASAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_KASAResult" nillable="true" type="q135:TBL_KASADTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_KASA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q136:TBL_KASA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_KASA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_KASA_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_KASA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q137:TBL_KASA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_KASA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_KASA_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_KASA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q138:TBL_KASA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_KASA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_KASA_BAKIYEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_KASA_BAKIYE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_KASA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_KASA_BAKIYEResult" nillable="true" type="q139:ArrayOfTBL_KASA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_KASA_BAKIYE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_KASA_BAKIYEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_KASA_BAKIYEResult" nillable="true" type="q140:TBL_KASA_BAKIYEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_KDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q141:TBL_KDVDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_KDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_KDVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_KDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q142:TBL_KDVDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_KDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_KDVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_KDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q143:TBL_KDVDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_KDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_KDVResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_KDV">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_KDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_KDVResult" nillable="true" type="q144:ArrayOfTBL_KDVDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_KDV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_KDVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_KDVResult" nillable="true" type="q145:TBL_KDVDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_ODEME">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q146:TBL_ODEMEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_ODEMEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_ODEMEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_ODEME">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q147:TBL_ODEMEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_ODEMEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_ODEMEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_ODEME">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q148:TBL_ODEMEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_ODEMEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_ODEMEResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_ODEME">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_ODEMEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_ODEMEResult" nillable="true" type="q149:ArrayOfTBL_ODEMEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_ODEME">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_ODEMEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_ODEMEResult" nillable="true" type="q150:TBL_ODEMEDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_ODEME_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q151:TBL_ODEME_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_ODEME_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_ODEME_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_ODEME_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q152:TBL_ODEME_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_ODEME_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_ODEME_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_ODEME_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q153:TBL_ODEME_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_ODEME_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_ODEME_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_ODEME_TIPI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_ODEME_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_ODEME_TIPIResult" nillable="true" type="q154:ArrayOfTBL_ODEME_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_ODEME_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_ODEME_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_ODEME_TIPIResult" nillable="true" type="q155:TBL_ODEME_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_ODEME_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q156:TBL_ODEME_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_ODEME_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_ODEME_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_ODEME_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q157:TBL_ODEME_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_ODEME_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_ODEME_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_ODEME_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q158:TBL_ODEME_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_ODEME_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_ODEME_TURUResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_ODEME_TURU">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_ODEME_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q159="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_ODEME_TURUResult" nillable="true" type="q159:ArrayOfTBL_ODEME_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_ODEME_TURU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_ODEME_TURUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q160="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_ODEME_TURUResult" nillable="true" type="q160:TBL_ODEME_TURUDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_PARA_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q161="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q161:TBL_PARA_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ekle__TBL_PARA_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ekle__TBL_PARA_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_PARA_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q162="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q162:TBL_PARA_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sil__TBL_PARA_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sil__TBL_PARA_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_PARA_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q163="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="item" nillable="true" type="q163:TBL_PARA_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Degistir__TBL_PARA_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Degistir__TBL_PARA_TIPIResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_PARA_TIPI">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Listele__TBL_PARA_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q164="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Listele__TBL_PARA_TIPIResult" nillable="true" type="q164:ArrayOfTBL_PARA_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_PARA_TIPI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bul_TBL_PARA_TIPIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q165="http://schemas.datacontract.org/2004/07/AutoBusinessObjects" minOccurs="0" name="Bul_TBL_PARA_TIPIResult" nillable="true" type="q165:TBL_PARA_TIPIDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>